In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

# Loading Housing Data

In [24]:
data = pd.read_csv("train.csv")

In [25]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [26]:
from sklearn.impute import SimpleImputer

# Assuming "Age" is the column you want to impute
age_imputer = SimpleImputer(strategy='mean')

# Fit the imputer on the entire dataset
age_imputer.fit(data[['Age']])

# Impute missing values in the dataset
data['Age'] = age_imputer.transform(data[['Age']])

# Round up the imputed age values
data['Age'] = data['Age'].apply(lambda x: round(x))

In [27]:
columns_to_drop = ['Name', 'SibSp', 'Ticket', 'Cabin', 'Embarked','PassengerId']
data.drop(columns=columns_to_drop, inplace=True)
data

     Survived  Pclass     Sex  Age  Parch     Fare
0           0       3    male   22      0   7.2500
1           1       1  female   38      0  71.2833
2           1       3  female   26      0   7.9250
3           1       1  female   35      0  53.1000
4           0       3    male   35      0   8.0500
..        ...     ...     ...  ...    ...      ...
886         0       2    male   27      0  13.0000
887         1       1  female   19      0  30.0000
888         0       3  female   30      2  23.4500
889         1       1    male   26      0  30.0000
890         0       3    male   32      0   7.7500

[891 rows x 6 columns]

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 41.9+ KB

In [29]:
data = pd.get_dummies(data, columns=['Sex'])

data

     Survived  Pclass  Age  Parch     Fare  Sex_female  Sex_male
0           0       3   22      0   7.2500           0         1
1           1       1   38      0  71.2833           1         0
2           1       3   26      0   7.9250           1         0
3           1       1   35      0  53.1000           1         0
4           0       3   35      0   8.0500           0         1
..        ...     ...  ...    ...      ...         ...       ...
886         0       2   27      0  13.0000           0         1
887         1       1   19      0  30.0000           1         0
888         0       3   30      2  23.4500           1         0
889         1       1   26      0  30.0000           0         1
890         0       3   32      0   7.7500           0         1

[891 rows x 7 columns]

In [30]:
# Assuming data_dropped_vif is your feature matrix and target variable is 'Survived'
X_train = data.drop(columns=["Survived"])
y_train = data["Survived"]

from sklearn.ensemble import RandomForestClassifier

# Create the Random Forest Classifier
rf_classifier = RandomForestClassifier()

# Train the model
rf_classifier.fit(X_train, y_train)

RandomForestClassifier()

In [31]:
# Load the test data
test_data = pd.read_csv('test.csv')
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [32]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [33]:
from sklearn.impute import SimpleImputer

# Assuming "Age" is the column you want to impute
age_imputer = SimpleImputer(strategy='mean')

# Fit the imputer on the entire dataset
age_imputer.fit(test_data[['Age']])

# Impute missing values in the dataset
test_data['Age'] = age_imputer.transform(test_data[['Age']])

# Round up the imputed age values
test_data['Age'] = test_data['Age'].apply(lambda x: round(x))


# Assuming "Age" is the column you want to impute
age_imputer = SimpleImputer(strategy='mean')

# Fit the imputer on the entire dataset
age_imputer.fit(test_data[['Fare']])

# Impute missing values in the dataset
test_data['Fare'] = age_imputer.transform(test_data[['Fare']])

# Round up the imputed age values
test_data['Fare'] = test_data['Fare'].apply(lambda x: round(x))

In [34]:
columns_to_drop = ['Name', 'SibSp', 'Ticket', 'Cabin', 'Embarked','PassengerId']
test_data.drop(columns=columns_to_drop, inplace=True)
test_data

     Pclass     Sex  Age  Parch  Fare
0         3    male   34      0     8
1         3  female   47      0     7
2         2    male   62      0    10
3         3    male   27      0     9
4         3  female   22      1    12
..      ...     ...  ...    ...   ...
413       3    male   30      0     8
414       1  female   39      0   109
415       3    male   38      0     7
416       3    male   30      0     8
417       3    male   30      1    22

[418 rows x 5 columns]

In [35]:
test_data = pd.get_dummies(test_data, columns=['Sex'])
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   Age         418 non-null    int64
 2   Parch       418 non-null    int64
 3   Fare        418 non-null    int64
 4   Sex_female  418 non-null    uint8
 5   Sex_male    418 non-null    uint8
dtypes: int64(4), uint8(2)
memory usage: 14.0 KB

In [36]:
# Predict on the test set
y_pred_rf = rf_classifier.predict(test_data)

# Get the IDs from the test data
test = pd.read_csv('test.csv')
test_ids = test['PassengerId']

# Create a DataFrame with IDs and predicted prices
predictions_df = pd.DataFrame({'PassengerId': test_ids, 'Survived': y_pred_rf})

# Save the predictions to a CSV file
predictions_df.to_csv('Submission.csv', index=False)